<%- include('../partials/header') %> 

<table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Remove</th> 
      </tr>
    </thead>
    <tbody>
         
         <% userCart.cart.forEach(c =>{ %>  

            <% if(c.itemId.itemName) {%> 
          <tr>
          <td> <%= c.itemId.itemName %>  </td>
          <td>$ <%= c.itemId.isAwarded ? c.itemId.bid : c.itemId.price %> 
           
          <td><form action="/carts/<%= c._id %>?_method=DELETE" method="POST"><button class="btn btn-danger btn-sm" type="submit">x</button></form></td>
          
          </tr>
          <% } %> 
         <% }) %> 
        
    </tbody>
    <table>
        <thead>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>Total:</td>
                <td><% let sum = 0
                     userCart.cart.forEach(c =>{  
                      if(c.itemId.isAwarded){
                        sum += Number(c.itemId.bid)
                      }else{
                        sum += Number(c.itemId.price)
                      }
                    }) %> 
                    $<%= sum %> 
                </td>
            </tr>
        </tbody>
    </table>
   <a href="/carts/payments/new">Checkout</a>
    
  </table>

<%- include('../partials/footer') %> 