<%- include('../partials/header') %>
<section id="items-container">
    <% items.forEach(i =>{  %>
      <% if(!i.isAwarded) {%> 
      
        <div class="card h-90">
          <a href="/items/<%= i._id %>"><img class="card-img-top"  src="<%= i.picture %>" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="/items/<%= i._id %>"><%= i.itemName %> </a>
            </h4>
            <h5>Buy Out Price: $<%=  i.price %> </h5>
            <p class="card-text"> <ul class="list-group list-group-flush">
              <li class="list-group-item">Auction: <%= i.isAuction? 'Yes' : 'No' %> </li>
              <li class="list-group-item">Seller: <%= i.seller.name %> </li>
              <li class="list-group-item"><%= i.isAuction ? 'Current Bid: $' + i.bid : '' %> </li>
            </ul></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      <% } %> 
    <% }) %>  
</section>
    
<%- include('../partials/footer') %>