<%- include('../partials/header') %>
<h1>Details page</h1>
<img src="<%= item.picture %>" alt="" height="200" width="300">
<h4>Name: <%= item.itemName %> </h4>

<h4>Platform: <%= item.platform %> </h4>
<h4>Condition: <%= item.itemCondition[0].toUpperCase() + item.itemCondition.slice(1,) %> </h4>
<% if(user) {%> 
    <% if(user._id.equals(item.seller._id)) {%>
        <h4>Seller: <a href="/users"><%= item.seller.name %></a></h4>
    <% } else { %>  
        <h4>Seller: <a href="/users/<%= item.seller._id %>"><%= item.seller.name %></a></h4>
    <% } %> 
<% } else {%>
    <h4>Seller: <a href="/users/<%= item.seller._id %>"><%= item.seller.name %></a></h4>
<% } %>  
<h4>Game Reviews:</h4>


  <% reviews.forEach(r => {%>
    <% if(r.createdFor._id.equals(item._id)) {%>
       <h5><%= r.review %> by <%= r.createdBy.name %> </h5>
    <% } %>  
  <% }) %>  
<h3>Seller Reviews:</h3>
<% sellerReviews.forEach(s =>{%>
    <h4><%= s.review %> by <%= s.createdBy.name %>  </h4> 
<% }) %> 
<h4>Buy it Now!: $<%= item.price %> </h4>  
<% if(user){%> 
<form action="/carts/<%= user._id %>" method="POST">
  
  <input type="text" name="itemId" value="<%= item._id %>" hidden>
  <button class="btn btn-primary btn-sm" type="submit">Add to Cart</button>
</form>
<% }else { %>
  <a href="/auth/google"><button class="btn btn-primary btn-sm" >Login to Buy</button></a>
<% } %>  

<% if(item.isAuction){%>
  <h4>Starting Bid: $<%= item.bid %></h4>
  <h4>Current Bid: $<%= item.auction.currentBid ? item.auction.currentBid : item.bid %> </h4>
  <% if(user) {%> 
    <a href="/items/auctions/<%= item._id %>/new"><button class="btn btn-primary btn-sm" >Place a Bid</button></a>
  <% }else{%>
    <a href="/auth/google"><button class="btn btn-primary btn-sm" >Login to Bid</button></a>
  <% } %>  
<% } %>  

<div class="form-container">
    <form method="POST" action="/items/<%= item._id %> ">
      <div class="form-group">
        
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Write a review about this game:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Post Review</button>
    </form>
  </div>
<%- include('../partials/footer') %>