<%- include('../partials/header') %>
<h1>Details page</h1>

<h4>Name: <%= item.itemName %> </h4>

<h4>Platform: <%= item.platform %> </h4>
<h4>Condition: <%= item.itemCondition[0].toUpperCase() + item.itemCondition.slice(1,) %> </h4>
<% if(user) {%> 
    <% if(user._id.equals(item.seller._id)) {%>
        <h4>Seller: <a href="/users"><%= item.seller.name %></a></h4>
    <% } else { %>  
        <h4>Seller: <a href="/users/<%= item.seller._id %>"><%= item.seller.name %></a></h4>
    <% } %> 
<% } else {%>
    <h4>Seller: <a href="/users/<%= item.seller._id %>"><%= item.seller.name %></a></h4>
<% } %>  
<h4>Game Reviews:</h4>
<% item.reviews.forEach(r => {%>
  <h3><%= r.review %> by <%= r.createdBy.name %> </h3>
<% }) %>  

<h3>Seller Reviews:</h3>
<% sellerReviews.forEach(s => {%>
    <h4><%= s.review %> by <%= s.createdBy.name %>  </h4> 

<% }) %> 
<h4>Buy it Now!: $<%= item.price %> </h4> 

 

<% let timeDiff = ((Date.now()) - item.updatedAt.getTime())/(3600000)  %> 
<div><% timeDiff = 6 - timeDiff %></div>

<% let hr = Math.floor(timeDiff) %> 
<% let min = (timeDiff - Math.floor(timeDiff))*60 %>
<% let sec = (min - Math.floor(min)) * 60 %> 

 




  <% if(user ){%> 
<form action="/carts/<%= user._id %>" method="POST">
  
  <input type="text" name="itemId" value="<%= item._id %>" hidden>
  <% if(!(user._id.equals(item.seller._id))) {%> 
  <button class="btn btn-primary btn-sm" type="submit">Add to Cart</button>
  <% } %> 
</form>
<% }else { %>
  <a href="/auth/google"><button class="btn btn-primary btn-sm" type="submit">Login to Buy</button></a>
<% } %>  

<% if(item.isAuction){%>
  <h4>Starting Bid: $<%= item.bid %></h4>
  <% let max = 0
    item.auction.forEach(i =>{
      if(Number(i.currentBid) > max) max = Number(i.currentBid)
    })
  %> 
  <h4>Current Bid: $<%= max ? max : item.bid %> 
  <% if(timeDiff > 0){ %> 
    Time Remaining: <Span id='item-page-time'><%= hr %>:<%= Math.floor(min) %>:<%= Math.floor(sec) %></Span>
  <% } %>
  </h4>
  <% if(user) {%> 
    <% if(!(user._id.equals(item.seller._id)) && !(timeDiff < 0)) {%> 
      <a href="/items/auctions/<%= item._id %>/new"><button class="btn btn-primary btn-sm" >Place a Bid</button></a>
      <h4>Time Remaining: </h4>
    <% } else if(!(user._id.equals(item.seller._id)) && timeDiff < 0){%>
      <h3> Auction has expried </h3>
    <% } %>  
  <% }else{%>
    <a href="/auth/google"><button class="btn btn-primary btn-sm" >Login to Bid</button></a>
    <h4>Time</h4>
  <% } %>  
<% } %>  

<div class="form-container">
    <form method="POST" action="/items/<%= item._id %>/reviews">
      <div class="form-group">
        
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Write a review about this game:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Post Review</button>
    </form>
  </div>
  <script>
    let time = document.querySelector('#item-page-time')
    console.log(time.textContent)
    let hr = parseInt(time.textContent.slice(0,1))
    console.log(hr)
    let min = parseInt(time.textContent.slice(2,4))
    console.log(min)
    let sec = parseInt(time.textContent.slice(5,))
    console.log(sec)
    let interval;
    function timer(){
      sec -=1
      if(sec < 0) {
        sec = 59
        min -= 1
      }
      if(min < 0){
        min = 59
        hr -=1
      }
      let printMin = min
      let printSec = sec
      if(min < 10) printMin = `0${min}`
      
      if(sec < 10) printSec = `0${sec}`
      
      console.log(hr, min, sec)
      time.textContent = `${hr}:${printMin}:${printSec}`
      if(hr <= 0 && min <= 0 && sec <= 0){
        return clearInterval( interval)
      }
      
    }
    interval = setInterval(timer, 1000)
    

  </script>
<%- include('../partials/footer') %>