<%- include('../partials/header') %>
<% let timeDiff = ((Date.now()) - item.auctionStart.getTime())/(3600000)  %> 
<% timeDiff = 5 - timeDiff %>

<% let hr = Math.floor(timeDiff) %> 
<% let min = (timeDiff - Math.floor(timeDiff))*60 %>
<% let sec = (min - Math.floor(min)) * 60 %> 



  <div class="container">

    <div class="row">

      <!-- /.col-lg-3 -->

      <div class="col-lg-12 .parentContainer">

        <div class="card mt-4">
          <div class="card" >
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img class="card-img" src="<%= item.picture %> " style="height: 100%" alt="Suresh Dasari Card">
                </div>
                <div class="col-lg-7">
                    <div class="card-body">
                        <h5 class="card-title"><%= item.itemName%> </h5>
                        <p class="card-text"> <ul class="list-group list-group-flush">
                          <li class="list-group-item">Platform: <%= item.platform %> </li>
                          <li class="list-group-item">Condition: <%= item.itemCondition[0].toUpperCase() + item.itemCondition.slice(1,) %></li>
                          <li class="list-group-item">
                            <% if(user) {%> 
                              <% if(user._id.equals(item.seller._id)) {%>
                                  Seller: <a href="/users"><%= item.seller.name %></a>
                              <% } else { %>  
                                  Seller: <a href="/users/<%= item.seller._id %>"><%= item.seller.name %></a>
                              <% } %> 
                          <% } else {%>
                              Seller: <a href="/users/<%= item.seller._id %>"><%= item.seller.name %></a>
                          <% } %> 

                          </li>
                          <li class="list-group-item">Buy it Now: $<%= item.price %></li>
                          <li class="list-group-item"><% if(item.isAuction){%>
                            Current Bid: $<%= item.bid %> </li>
                            <% if(timeDiff > 0){ %> 
                              <li class="list-group-item"> Time Remaining: <Span id='item-page-time'><%= hr %>H<% if (min < 10) { %>0<%= Math.floor(min) %>M<% }else{ %><%= Math.floor(min) %>M<% } %> 
                              </Span></li> 
                            <% } %>
                          <% } %>  
                          </li>
                         
                          
                        </ul></p>
                        <div id="button-grid">
                          <div>  <% if(user ){%> 
                            <form action="/carts/<%= user._id %>" method="POST">
                            
                            <input type="text" name="itemId" value="<%= item._id %>" hidden>
                 
                            <% if(!(user._id.equals(item.seller._id))) {%> 
                                <% if(!user.cart.find(c => c.itemId.equals(item._id))) {%> 
                                <% console.log('before button') %> 
                             
                                <button class="btn btn-primary btn-sm" type="submit">Add to Cart</button> 
                                <% } else {%> 
                                Already in Cart!
                                 
                                  <% } %>                   
                            <% } %> 
                            </form>
                            <% }else { %>
                            <a href="/auth/google"><button class="btn btn-primary btn-sm" type="submit">Login to Buy</button></a>
                            <% } %>  
                          </div>
                        <a href="#" ></a>
                        <div> 
                          <% if(user) {%> 
                          <% if(!(user._id.equals(item.seller._id)) && !(timeDiff < 0)) {%> 
                            <a href="/items/auctions/<%= item._id %>/new"><button class="btn btn-primary btn-sm" >Place a Bid</button></a>
                            
                          <% } else if(!(user._id.equals(item.seller._id)) && timeDiff < 0){%>
                            <p>Auction has expired!</p>
                          <% } %>  
                          <% }else{%>
                            <a href="/auth/google"><button class="btn btn-primary btn-sm" >Login to Bid</button></a>
                          <% } %>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            <%= item.seller.name %>'s  Reviews
          </div>
          <div class="card-body">
           
            <% sellerReviews.forEach(s => {%>
              <p><%= s.review %></p><small class="text-muted">Posted by <%= s.createdBy.name %>  on <%= s.createdAt.toString().slice(0,15) %> </small> 
              <hr>
          
          <% }) %> 
          </div>
        </div>

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
           
            <% item.reviews.forEach(r => {%>
              <p><%= r.review %></p><small class="text-muted">Posted by <%= r.createdBy.name %>  on <%= r.createdAt.toString().slice(0,15) %> </small> 
              <hr>
            <% }) %> 
            
              <form method="POST" action="/items/<%= item._id %>/reviews">
                <div class="form-group">
                  </div>
          
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Write a review about this game:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Post Review</button>
              </form>
         
           
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->
  
  <script>
   
  </script>
<%- include('../partials/footer') %>