<%- include('../partials/header') %> 

<h3>
  Name: <%= user.name %> 
</h3>

<% if(user.isSeller) {%>
  <h2>Items for Sale:</h2>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Time Left:</th>
        <th></th> 
      </tr>
    </thead>
      <tbody  >
        <tr>
        <% items.forEach(i =>{ %>
          <% if(i.seller._id.equals(user._id)) {%>
            <% let indexTimeDiff = (Date.now() - i.updatedAt.getTime())/(3600000)  %> 
            <% auctionTime = 6 - indexTimeDiff %> 
            <% let indexHr = Math.floor(auctionTime) %> 
            <% let indexMin = (auctionTime - Math.floor(auctionTime))*60 %>
            
            
            
              <td><a href="/items/<%= i._id %> "><%= i.itemName %></a></h4></td>
              <td>$<%= i.price %> </td>
          
              <td class='item-print'>
                <% if (i.isAuction) { %>
                  <%= indexHr %>Hr
                  <% if (indexMin <10){%>
                    0<%= Math.floor(indexMin) %>Min
                  <% } else { %>
                    <%= Math.floor(indexMin) %>Min
                  <% } %> 
                <% }else{%>
                  Buy Out
                <% } %> 
              
                                
              </td>
              <td><a href="/items/<%= i._id %>/edit/game"><button class="btn btn-primary btn-sm" type="submit">Edit</button></a></td>
              <td><form action="/items/<%= i._id %>?_method=DELETE" method="POST"><button class="btn btn-danger btn-sm" type="submit">Remove</button></form></td>
              <td><%= i.isAuction %> </td>
            </tr>
            
          <% } %>  
        <% }) %> 
        
      </tbody>
    </table>

       
  <h3>Seller Reviews:</h3> 
  <% reviews.forEach(r => {%>
    <h4><%= r.review %> by <%= r.createdBy.name %> </h4>
  <% }) %>  
<% } %>  



<%- include('../partials/footer') %> 