<%- include('../partials/header') %> 

<h3>
  Name: <%= user.name %> 
  isSeller: <%= user.isSeller %> 
</h3>
<div> user id: <%= user._id %> </div>
<div>item seller id: <%= items[0]._id %> </div>
<h4>Items for Sale:</h4>
<% if(user.isSeller) {%>
  <% items.forEach() %> 
<% } %>  

<%- include('../partials/footer') %> 