<%- include('../partials/header') %> 

<h3>
  Name: <%= user.name %> 
</h3>

<% if(user.isSeller) {%>
  <h3>Items for Sale:</h3>
  <% items.forEach(i =>{ %>
    <% if(i.seller._id.equals(user._id)) {%>
      <h4><%= i.itemName %></h4> 
    <% } %>  
  <% }) %> 
  <h3>Seller Reviews:</h3> 
  <% reviews.forEach(r => {%>
    <h4><%= r.review %> by <%= r.createdBy.name %> </h4>
  <% }) %>  
<% } %>  


<%- include('../partials/footer') %> 