<%- include('../partials/header') %> 

<h3>
  Name: <%= user.name %> 
</h3>

<% items.forEach(i =>{ %>
  <li><%= i %> </li>
<% }) %>   

<% if(user.isSeller) {%>
  <h2>Items for Sale:</h2>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Time Left</th>
        <th>Highest Bid</th>
        <th>Highest Bidder</th>
        <th></th> 
      </tr>
    </thead>
      <tbody  >
        <tr>
        <% items.forEach(i =>{ %>
          <% if(i.seller._id.equals(user._id)) {%>
            <% let indexTimeDiff = (Date.now() - i.updatedAt.getTime())/(3600000)  %> 
            <% auctionTime = 6 - indexTimeDiff %> 
            <% let indexHr = Math.floor(auctionTime) %> 
            <% let indexMin = (auctionTime - Math.floor(auctionTime))*60 %>
         

            
              <td><a href="/items/<%= i._id %> "><%= i.itemName %></a></h4></td>
              <td>$<%= i.price %> </td>
          
              <td class='item-print'>
                <% if (i.isAuction) { %>
                  <% if(indexHr < 0){ %> 
                    Auction Over!
                  <% }else{ %>
                    <%= indexHr %>H
                    <% if (indexMin <10){%>
                      0<%= Math.floor(indexMin) %>M
                    <% } else { %>
                      <%= Math.floor(indexMin) %>M
                    <% } %> 
                  <% } %>  
                <% }else{%>
                  Buy Out
                <% } %> 
              
             
                                
              </td>
              <td><%= i.bid > 0 ? i.bid : 'No Bid'%> </td>
              <td></td>
              <% if (i.isAuction) { %>
              <% if(indexHr < 0) {%>
                <td><a href="/items/auction/<%= i._id %>"><button class="btn btn-primary btn-sm" type="submit">Award Auction</button></a></td>
              <% } else { %>
                <td><a href="/items/auction/<%= i._id %>"><button class="btn btn-primary btn-sm" type="submit">Auction Details</button></a></td>
              <% } %>  
              <% }else{ %>
                <td></td>
              <% } %> 
              
              <td><a href="/items/<%= i._id %>/edit/game"><button class="btn btn-success btn-sm" type="submit">Edit Posting</button></a></td>
              <td><form action="/items/<%= i._id %>?_method=DELETE" method="POST"><button class="btn btn-danger btn-sm" type="submit">Remove</button></form></td>
            </tr>
            
          <% } %>  
        <% }) %> 
        
      </tbody>
    </table>

       
  <h3>Seller Reviews:</h3> 
  <% reviews.forEach(r => {%>
    <h4><%= r.review %> by <%= r.createdBy.name %> </h4>
  <% }) %>  
<% } %>  



<%- include('../partials/footer') %> 