<%- include('../partials/header') %>
  
    <h2>Selling:</h2>
    <%= seller.name %> 
  
      <h2>Seller Reviews:</h2>
          <%seller.reviews.forEach( r =>{ %>
            <li><%= r.review %> by <%= r.createdBy.name%> </li>
          <% }) %>  
      <div class="form-container">
      <form method="POST" action="/users/<%= seller._id %> ">
        <div class="form-group">
          
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Write a review about this seller:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Post Review</button>
      </form>
    </div>
<%- include('../partials/footer') %>  